/*html,body{
	font-family:sans-serif;
	height:100%;
}
p{
	line-height: 1.2;
	padding: 10px;
}*/
#page-wrapper{
	padding:10px;
}
#page-content{
	background-color:#98BFB7;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;	
	height:100%;
	max-width:1024px;;
	margin: 0 auto;
}
